@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CategoryWithBlogsViewModel>
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="list-group">
            @foreach (var category in Model)
            {
                <a asp-action="Index" asp-controller="Home"  asp-route-categoryId="@category.Id"  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(ViewBag.ActiveCategory?.ToString()==category.Id.ToString()?"active":"")" >
                    @category.Name 
                    <span class="badge badge-dark badge-pill">@category.BlogsCount</span>
                    
                </a>
            }


        </div>
    </div>